/*基础弹窗样式*/
#alert-box{position:fixed;left:0;top:0;height:100%;width:100%;background-color:rgba(94,94,94,0.6);opacity:0;visibility:hidden;z-index:10;}
#alert-box.is-visible{opacity:1;visibility:visible;transition:opacity 0.3s 0s,visibility 0.3s 0s;display:table;overflow:hidden;}
#alert-box.is-hidden{visibility:hidden;transition:opacity 0.3s 0s,visibility 0.3s 0s;}
#alert-box.is-visible,#alert-box.is-hidden{display:flex;justify-content:center;align-items:center;}
#alert-box-wrap{display:flex;justify-content:center;align-items:center;background:#FFF;border-radius:5px;text-align:center;box-shadow:0 0 20px rgba(0,0,0,0.2);transform:translateY(-40px);transition-property:transform;transition-duration:0.3s;padding:20px;min-width:300px;min-height:100px;max-height:80%;max-width:80%;}
.is-visible #alert-box-wrap{transform:translateY(0);opacity:1;}
#alert-box button{border:none;padding:5px 10px;border-radius:5px;width:100px;display:inline-block;height:30px;cursor:pointer;}
#alert-box button#yes{background:#f85959;color:#FFF;}
#alert-box button#no{background:#00F;color:#FFF;}
#alert-box-close{position:absolute;top:0px;right:10px;font-size:13px;color:#000;}
/*隐藏原生文件上传按钮*/
input[type="file"]{display:none;}
